@import "tailwindcss";
@import "@fontsource/geist-sans/index.css";
@import "@fontsource/geist-mono/index.css";
@import "@fontsource/noto-sans-jp/400.css";
@import "@fontsource/noto-sans-jp/500.css";
@import "@fontsource/noto-sans-jp/700.css";

body {
  margin: 0;
  font-family: "Geist", "Noto Sans JP", sans-serif;
}

code, pre {
  font-family: "Geist Mono", monospace;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
}
